<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add-movie</title>
</head>
<body>
    <h1>Ajouter un nouveau film</h1>

    <form th:action="@{/movie}" method="post" th:object="${movie}">
        <p>Titre : <input type="text" th:field="*{title}" /></p>
        <p>Genre : <input type="text" th:field="*{genre}" /></p>
        <p>Description : <input type="text" th:field="*{description}" /></p>
        <p><input type="submit" value="ok"/></p>
    </form>

</body>
</html>