<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<h1>DVDStore : votre boutique de DVD en lignesss.</h1>
<div>
    <p>
        <a href="add-movie-form">Ajouter un livre</a>
    </p>
    <div>Liste des livres</div>
    <section class="container">
        <div class="left-half">
            <article id="movie-list">

            </article>
        </div>
        <div class="right-half">
            <article id="movie-detail">

            </article>
        </div>
    </section>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>